<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.androidproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Time Manager"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.DayNight">
        <activity
            android:name=".androidProjectResult"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".DailyTestQuestions"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".Applications"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".CoreFundamentals"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".InterviewPrepration"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:exported="false" />
        <activity
            android:name=".AndroidProject"
            android:exported="false"
            android:label="Google Android Specialisation" />
        <activity
            android:name=".DataStructures"
            android:exported="false"
            android:label="Data Structures and Algorithms"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="nosensor">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>